					<div id="sidebar-menu">
						<ul>
							<li><a href="/index.html"><i class="fa fa-home"></i> Dashboard</a></li>
							<li><a href="/distributors/"><i class="fa fa-truck"></i> Distributors</a></li>
							<li><a href="/retailers/"><i class="fa fa-shopping-cart"></i><i class="fa fa-angle-double-down i-right"></i> Retailers</a>
								<ul>
									<li><a href="/retailers/"><i class="fa fa-angle-right"></i> General Info</a></li>
									<li><a href="/retailers/"><i class="fa fa-angle-right"></i> Bill Pay</a></li>
									<li><a href="/retailers/"><i class="fa fa-angle-right"></i> Products</a></li>
									<li><a href="/retailers/"><i class="fa fa-angle-right"></i> Allowed IPs</a></li>
									<li><a href="/retailers/"><i class="fa fa-angle-right"></i> Money Transfer</a></li>
									<li><a href="/retailers/"><i class="fa fa-angle-right"></i> Transfer Retailer</a></li>
									<li><a href="/retailers/"><i class="fa fa-angle-right"></i> Adjustment</a></li>
									<li><a href="/retailers/"><i class="fa fa-angle-right"></i> Locations</a></li>
									<li><a href="/retailers/"><i class="fa fa-angle-right"></i> Toll Free</a></li>
									<li><a href="/retailers/"><i class="fa fa-angle-right"></i> Product Fees</a></li>
								</ul>
							</li>
							<li><a href="/consumers/"><i class="fa fa-users"></i> Consumers</a></li>
							<li><a href="/products/"><i class="fa fa-suitcase"></i> Products</a></li>
							<li><a href="/content/"><i class="fa fa-book"></i> Content</a></li>
							<li><a href="/history/"><i class="fa fa-archive"></i> Change History</a></li>
							<li><a href="/reports/"><i class="fa fa-info-circle"></i> Reports</a></li>
							<li><a href="/support/"><i class="fa fa-question-circle"></i> Support</a></li>
						</ul>
						<div class="clear"></div>
					</div><!-- End div #sidebar-menu -->